{% extends "base.html"%}

{% block body %}

<div class="namecar">
    <h1>{{ car.name }}</h1>
</div>

<div class="cont">
    <div class="padre">
    <div class = "image">
        <img class="imgcr" src="{{ car.image_url }}">
    </div>
    <div class="infocar">
        Precio: ${{ car.price }}<br><br>
        Marca: {{ car.brand }}<br><br>
        Modelo: {{ car.model }}<br><br>
        Categoría: {{ car.category }}<br><br>
        Año: {{ car.year }}<br><br>
        Año de fabricación: {{ car.year_production }}<br><br>
        Kilometraje: {{ car.mileage }}<br><br>
        Transmisión: {{ car.transmission }}<br><br>
        Combustible: {{ car.fuel }}<br><br>
        Cilindrada: {{ car.engine_displacement }}<br><br>
        Número de puertas: {{ car.doors }}<br><br>
        Tipo de tracción: {{ car.drivetrain }}<br><br>
        Color: {{ car.color }}<br><br>
        Ubicación: {{ car.location }}<br><br>
    </div>
</div>


<div class="container">
    <div class="card">
        <h4 class="p-3">Descripción</h4>
        <p class="p-3">{{ car.description }}</p>
    </div>
</div>

<div class="container">
    <div class="card">
        <h4 class="p-3">Comentarios</h4>
        <input type="text" name="" id="">
    </div>
</div>


{% endblock %}