{% extends "base.html"%}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylereview.css">
</head>

<div id="fragment">
    <div class="text-center mb-5">
        <h1>{{ car.name }}</h1>
    </div>
</div>

<div class="cont">
    <div class="padre">
    <div class = "image">
        <img class="w-100" src="{{ car.image_url }}">
    </div>
    <div class="infocar">
        Precio: ${{ car.price }}<br><br>
        Marca: {{ car.brand }}<br><br>
        Modelo: {{ car.model }}<br><br>
        Categoría: {{ car.category }}<br><br>
        Año: {{ car.year }}<br><br>
        Año de fabricación: {{ car.year_production }}<br><br>
        Kilometraje: {{ car.mileage }}<br><br>
        Transmisión: {{ car.transmission }}<br><br>
        Combustible: {{ car.fuel }}<br><br>
        Cilindrada: {{ car.engine_displacement }}<br><br>
        Número de puertas: {{ car.doors }}<br><br>
        Tipo de tracción: {{ car.drivetrain }}<br><br>
        Color: {{ car.color }}<br><br>
        Ubicación: {{ car.location }}<br><br>
    </div>
</div>
    
</div>

<div class="container">
    <div class="card">
        <h4 class="p-3">Descripción</h4>
        <p class="p-3">{{ car.description }}</p>
    </div>
</div>

<div class="container">
    <div class="card">
        <h4 class="p-3">Comentarios</h4>
        <input type="text" name="" id="">
    </div>
</div>


{% endblock %}