{% extends "base.html"%} {% block body %}
<h1 class="center">Shop</h1>
<div class="cont-shop">
    <div class="lista-tienda">
        {% for car in cars %}
        <div class="cars-shop">
            <img class="card-img-top" src="{{ car.image_url }}" alt="Card image cap">

            <div class="card-body-shop">
                <h3 class="card-title">{{ car.name }}</h3>
                <p class="card-text">${{ car.price }}</p>
                <a href="{{ url_for('shop.product_page' ,car_id=car.id) }}" class="btn-shop btn-primary">See more</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}