{% extends "base.html" %} {% block body %}

<style>
    .search{
        position: absolute;
        padding-top: 10px;
        border-radius: 20px;
        border: 0px;
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
</style>
    <h1 class="center">Shop</h1>
    <div style="text-align: center;">
        <input type="text" class="form-control" id="search-input" style="width: 50%; margin-left: 0px;" placeholder="Buscar">
        <button type="submit" class="search" onclick="search()">
            <img src="{{ url_for('static', filename='image/buscar.png') }}">
        </button>
    </div>
    <div class="cont-shop">
        <div class="lista-tienda">
            {% for car in cars %}
                <div class="cars-shop">
                    <img class="card-img-top" src="{{ car.image_url }}" alt="Card image cap">

                    <div class="card-body-shop">
                        <h3 class="card-title">{{ car.name }}</h3>
                        <p class="card-text">
                            {% if car.price == 0 %}
                                Consultar
                            {% else %}
                                ${{ car.price }}
                            {% endif %}
                        </p>
                        <a href="{{ url_for('shop.product_page' ,car_id=car.id) }}" class="btn-shop btn-primary">See
                            more</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
    
        function search(){
            const value = document.getElementById("search-input").value.toLowerCase() ;
            window.location.replace("/shop/search/" + value);
        }
       
    </script>


{% endblock %}