{% extends "base.html" %} {% block body %}

<style>
    .search {
        position: absolute;
        padding-top: 10px;
        border-radius: 20px;
        border: 0px;
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
    
    .filter-container {
        padding-left: 20px;
    }
    
    .filter-content {
        padding-left: 50px;
        width: 85%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
        border-radius: 20px;
        height: 67vh;
        background-color: rgba(240, 240, 240, 1);
    }
    
    .filter-title {
        font-size: 50px;
        padding-top: 20px;
        font-weight: 600;
        margin: 0;
    }
    
    label {
        margin: 0;
    }
</style>
<h1 class="center">Tienda</h1>
<div style="text-align: center;">
    <input type="text" class="form-control" id="search-input" style="width: 50%; margin-left: 0px;" placeholder="Buscar">
    <button type="submit" class="search" onclick="search()">
            <img src="{{ url_for('static', filename='image/buscar.png') }}">
        </button>
</div>

<div style="display:flex">


    <div style="width: 20%" class="filter-container">
        <div class="filter-content">
            <p class="filter-title">Filtros</p>
            <ul>
                <form method="GET" action="filter">
                    <li>
                        <label>Rango de precios</label>
                        <div></div>
                        <input name="start_price_filter" placeholder="Desde" type="number" step="50" min="100" max="100000" class="form-control" id="search-input" style="width: 50%; margin-left: 0px;" placeholder="">

                        <input name="end_price_filter" placeholder="Hasta" type="number" step="50" min="100" max="100000" class="form-control" id="search-input" style="width: 50%; margin-left: 0px;" placeholder="">

                    </li>

                    <li>
                        <label for="model_filter">Modelo del carro</label><br>
                        <input name="model_filter" type="text" class="form-control" id="search-input" style="width: 50%; margin-left: 0px;" placeholder="Buscar">
                    </li>

                    <li>
                        <label for="brand_filter">Marca del carro</label><br>
                        <input name="brand_filter" type="text" class="form-control" id="search-input" style="width: 50%; margin-left: 0px;" placeholder="Buscar">
                    </li>

                    <li>
                        <label for="year_filter">Año del carro</label><br>
                        <input name="year_filter" type="number" class="form-control" id="search-input" style="width: 50%; margin-left: 0px;" placeholder="Buscar">
                    </li>

                    <li>
                        <button class="btn btn-primary" type="submit">Filtrar</button>
                    </li>
                </form>
            </ul>
        </div>
    </div>

    <!-- <script type="text/javascript">
            const form = document.getElementById('filter-form')
            form.addEventListener('submit', (e) => {
                const start_price = document.getElementById('price-start-filter').value
                const end_price = document.getElementById('price-end-filter').value
                const model = document.getElementById('model-filter').value
                const brand = document.getElementById('brand-filter').value
                const year = document.getElementById('year-filter').value

                const url = "shop/filter"

                const data = {
                    'start_price': start_price,
                    'end_price': end_price,
                    'model': model,
                    'brand': brand,
                    'year': year
                }
                fetch(url, {
                    method: 'GET',
                    body: JSON.stringify(data)
                })

            })
        </script> -->


    <div class="cont-shop" style="width: 80%">
        <div class="lista-tienda">
            {% for car in cars %}
            <div class="cars-shop">
                <img class="card-img-top" src="{{ car.image_url }}" alt="Card image cap">

                <div class="card-body-shop">
                    <h3 class="card-title">{{ car.name }}</h3>
                    <p class="card-text">
                        {% if car.price == 0 %} Consultar {% else %} ${{ car.price }} {% endif %}
                    </p>
                    <a href="{{ url_for('shop.product_page' ,car_id=car.id) }}" class="btn-shop btn-primary">Ver mas</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>





</div>



<script type="text/javascript">
    function search() {
        const value = document.getElementById("search-input").value.toLowerCase();
        window.location.replace("/shop/search/" + value);
    }
</script>


{% endblock %}