{% extends "base.html" %} {% block body %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lato:wght@300&family=Share+Tech+Mono&family=Staatliches&display=swap');
</style>
<div class="contenedor">
    <div class="nav-forum">
        <h1>Todas las publicaciones</h1>
        <a href="{{ url_for('forum.publish') }} " class="btn btn-forum">Haz una publicacion</a>
    </div>
    {% for post in posts %}
    <div class="post">
        <div class="cont-img-title">
            <div class="post-image">
                <img src="{{ post.author.image_url }}" alt="profile-picture">
            </div>

            <div class="post-title">
                <h2><a href="{{ url_for('forum.post', id=post.id) }}">{{ post.title }}</a></h2>
                <!--titulo-->
                <h4>{{ post.created_at }}</h4>
                <!--fecha-->
            </div>
        </div>
        <div class="cont-nick-body">
            <h3>{{ post.author.username }}</h3>
            <!--nickname-->
            <p class="parrafo-forum">{{ post.body }}</p>
            <!--comentario-->

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}