{% extends "base.html" %}

{% block body %}
    <div class="post-container">
        {% for post in posts %}
            <div class="main-post">
                <div class="post-main-title">
                    {{ post.title }}
                </div>
                <div class="post-author-image">
                    <img style="width:40px;height:auto;border-radius:50%"
                         src="{{ post.author.image_url }}"
                         alt="profile-picture">
                </div>
                <div class="post-author">
                    <a href="{{ url_for('profile.profile_page',id=post.author.id) }}">{{ post.author.username }}</a>

                </div>
                <div class="post-main-date">
                    {{ post.created_at.strftime('%Y-%m-%d') }}
                </div>
                <div class="post-body">
                    {{ post.body }}
                </div>
            </div>
        {% endfor %}
        <div class="all-comments">

            <div class="form-container">
                <form method="post" class="form-comment" id="form-comment">
                    {{ form.csrf_token }}
                    {{ form.body() }}
                    {{ form.submit(class_="btn btn-submit") }}
                </form>
            </div>
            <div class="comment-container">
                <ul class="comments" id="comments">
                    {% for comment in comments %}
                        <li class="comment">
                            <img src="{{ comment.author.image_url }}" class="comment-img" alt="img">
                            <span class="comment-author">
                                <a href="{{ url_for('profile.profile_page',id=comment.author.id) }}">{{ comment.author.username }}</a>
                            </span>
                            <span class="comment-date">
                                {{ comment.last_updated.strftime('%Y-%m-%d') }}
                            </span>
                            <div class="comment-body">
                                {{ comment.body }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/static/comments.js"></script>
{% endblock %}