{% extends "base.html" %}

{% block body %}
    <div class="container">
        <ul class="posts">
            {% for post in posts %}
                <li class="post">
                    <div class="post post-image">
                        <img src="{{ post.author.image_url }}" alt="profile-picture">
                    </div>
                    <div class="post post-date">
                        {{ post.created_at }}
                    </div>
                    <div class="post post-author">
                        {{ post.author.nickname }}
                    </div>
                    <div class="post post-title">
                        {{ post.title }}
                    </div>
                    <div class="post post-body">
                        {{ post.body }}
                    </div>
                </li>
            {% endfor %}
            <div class="comment-form">
                <form method="post" class="form">
                    {{ form.csrf_token }}
                    {{ form.body() }}
                    {{ form.submit(class_="btn btn-submit") }}
                </form>
            </div>
            <div class="comments">
                <ul class="comments">
                    {% for comment in comments %}
                        <li>

                            {{ comment.body }}
                            {{ comment.last_updated }}
                            {{ comment.author.username }}

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </ul>
    </div>
{% endblock %}
{% block script %}
    <script href="/static/script.js"></script>
{% endblock %}