:root {
    --color-base: #f5f5f5;
    --color-background: #fff;
    --color-accent: #395e76;
}

*:not(i) {
    font-family: 'Roboto', sans-serif;
}


/*HERRAMIENTAS*/

.center {
    text-align: center;
}


/*Fin herramienta*/

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-base);
}

textarea {
    resize: none;
}

h1 {
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    border: 5px;
    padding: 15px;
}

#fragment {
    background-color: rgb(20, 18, 18);
}

h2 {
    color: #000;
    font-size: 2em;
    font-weight: bold;
}

h3 {
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin: 5%;
}

a {
    text-decoration: none;
    color: var(--color-accent);
    font-weight: 600;
}

a:hover {
    cursor: pointer;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100px;
    background: var(--color-background);
    z-index: 1000;
    min-width: 580px;
    box-shadow: 0 0 3px 1px lightgray, 0 -3px 1px 1px lightgray;
}

.main-logo {
    position: relative;
    float: left;
    height: 100px;
    line-height: 100px;
    padding: 0 15px;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
}

nav .links {
    float: right;
    margin-right: 30px;
    position: relative;
}

nav .links li {
    list-style: none;
    position: relative;
    margin: 20px 20px 0;
    padding-bottom: 34px;
    display: inline-block;
}

nav .links li > a {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    line-height: 30px;
    height: 30px;
}

nav .links li > a:hover {
    color: #fff;
    background: var(--color-accent);
    border-radius: 2px;
}

nav .links li > .trigger-drop {
    padding-right: 30px;
}

nav .links li > a .arrow {
    top: 35%;
    right: auto;
    position: absolute;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 11%;
    transform: rotate(45deg);
}

nav .links li > a:hover .arrow {
    border: solid white;
    border-width: 0 1px 1px 0;
}

nav .links li > .dropdown-content {
    display: none;
    position: fixed;
    background-color: var(--color-background);
    top: 65px;
    left: 0;
    right: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav .links li:hover > .dropdown-content {
    display: block;
    margin-top: 35px;
    animation-name: appear;
    animation-duration: 350ms;
    animation-fill-mode: both;
}

nav .nav-grid {
    display: grid;
    margin: 1%;
    padding: 10px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    align-items: center;
}

nav .nav-grid-header h1 {
    margin: 20px;
    font-weight: bold;
    font-size: 30px;
}

nav .grid-item {
    text-align: center;
}

@keyframes appear {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-5px)
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

.page-container {
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1 0 auto;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-submit {
    border-radius: 5em;
    background: linear-gradient(to right, #00bcd4, #00e5ff);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin: auto;
    display: block;
}

.alert {
    padding: 20px;
    background-color: #ffffff;
    color: darkgray;
    border-radius: 4px;
    text-decoration: none;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.form {
    padding-top: 5%;
}

.form-control {
    width: 76%;
    color: darkgrey;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: lightgrey;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
}

.form-control:focus {
    border: 2px solid #007bff;
}

.main {
    background-color: var(--color-background);
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.comments {
    display: flex;
    flex-direction: column;

}

.page-title {
    padding-top: 12%;
    color: var(--color-accent);
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}

.container {
    width: 100%;
}


/* #image{
    text-align: left;
    padding: 30px;
    width: 800px;
}

h3{
    text-align:right;
    padding: 100px;
    vertical-align: middle;
    width: 400px;
}

#infocar{
    text-align: center;
} */

.main-link {
    text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
    display: inline-block;
}

@media (max-width: 600px) {
    .main {
        border-radius: 0;
    }
}


/*NEWS*/

@media (max-width: 1000px) {
    .container-news {
        max-width: 1000px;
        margin: 0 auto;
    }

    .lista-productos {
        padding: 0;
        list-style: none;
    }

    .lista-productos li {
        text-decoration: none;
        float: left;
        padding: 20px;
        text-align: center;
    }

    .card-news {
        width: 100%;
        height: 100%;
    }

    .card-news img {
        width: 100%;
    }

    .card-body-div {
        display: grid;
        margin: 0 auto 0 auto;
        text-align: center;
    }
}

.lista-productos {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.card-news img {
    width: 100%;
}

.card-body-div {
    position: relative;
    padding: 5px;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
    height: 300px;
}

.card-text-div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 40%;
    margin-top: -35px;
    /* Este valor es el resultado de dividir entre 2 height: 70*/
    margin-left: -40%;
    /* Este valor es el resultado de dividir entre 2 : width:80% */
    color: #333;
    text-align: center;
}

.card-body-div a {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}


/*
==========================
SHOP
==========================
*/

.cont-shop {
    padding: 0 15px;
    height: 80%;
    overflow: hidden;
    overflow-y: auto;
}

.lista-tienda {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.cars-shop:hover {
    box-shadow: 0 11px 35px 2px rgba(2, 2, 2, 0.14);
    transition: all 0.5s;
}

.cars-shop {
    width: 30.5%;
    margin: 5px;
    display: flex;
    border: 2px solid #e1e1e1;
    padding: 10px 10px;
}

.cars-shop img {
    height: 100%;
    width: 50%;
}

.card-body-shop {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    width: 50%;
    margin: 5px 5px 5px 5px;
    text-align: center;
    padding: 0;
}

.card-body-shop h3 {
    margin: 5px 5px;
    font-size: 100%;
    font-family: 'Share Tech Mono', monospace;
}

.btn-shop {
    margin: 5px 5px 0 5px;
    position: absolute;
    bottom: 0;
    left: 25px;
    /* right: 0; */
    display: inline-table;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 0;
    padding: 10px 40px;
    font-size: 1rem;
    /* line-height: 1.5; */
    border-radius: 0.25rem;
    cursor: pointer;
    height: 10%;
    width: 40%;
}


/*
==================================================
FORUM
==================================================
*/

.contenedor {
    width: 100%;
}

.nav-forum {
    height: 100px;
    width: 85%;
    align-items: center;
    margin: 20px 50px;
}

.nav-forum h1 {
    font-family: 'Share Tech Mono', monospace;
    color: black;
    padding: 0 50% 0 0;
    float: left;
}

.nav-forum a {
    padding: 5px;
}

.btn-forum {
    margin-top: 20px;
    color: rgb(0, 39, 168);
    float: right;
    font-size: 20px;
    background-color: #c9c9a8;
    border-color: #c9c9a8;
}

.nav-forum a:hover {
    color: #0f0707;
    opacity: 0.5;
    transition: all 0.5s;
}

.post {
    border: 1px #b8daff solid;
    margin: 20px 50px;
    height: 300px;
}

.post:hover {
    box-shadow: 0 11px 35px 2px rgba(2, 2, 2, 0.14);
    transition: all 0.5s;
}

.cont-img-title {
    display: flex;
    height: 50%;
    margin: 10px 10px;
}

.post-image {
    height: 100%;
    padding: 10px 10px;
    margin: 0 10px;
}

.post-image img {
    border-radius: 200px;
    height: 100%;
}

.post-title {
    height: 100%;
    width: 100%;
    margin: 10px 10px;
}

.post-title h2 {
    font-family: 'Share Tech Mono', monospace;
}

.post-title h4 {
    font-family: 'Kanit', sans-serif;
}

.cont-nick-body {
    margin: 15px 15px;
}

.cont-nick-body h3 {
    font-family: 'Staatliches', cursive;
    font-size: 30px;
}


/*
=========================================
PUBLISH
=========================================
*/

.cont-form-publish {
    height: 62vh;
}

.cont-publish-forum {
    height: 30%;
    margin: 10px 10px;
}

.cont-body-forum {
    height: 30%;
    margin: 10px 10px;
}

.cont-publish-forum h2,
.cont-body-forum h2 {
    font-family: 'Share Tech Mono', monospace;
    margin: 2px;
}

.title_publish {
    height: 35%;
    width: 50%;
    font-size: 25px;
}

.body_publish {
    width: 90%;
    height: 75%;
    font-size: 20px;
}


/*REVIEW CARS*/

.container {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.padre {
    display: flex;
    margin: auto auto;
    border: 30px;
}

.infocar {
    text-align: justify;
    font-size: 20px;
    padding: 10px 120px;
    width: 800px;
}

.cont {
    margin: 50px;
    width: auto;
    height: 600px;
}

.image {
    padding: 1px 100px;
}

.imgcr {
    border-radius: 15px;
}

.namecar {
    background-color: #000;
}

h1 {
    padding: 30px 350px;
}