<div class="nav-grid-header">
    <h1>BUSCA POR MARCA</h1>
</div>
<div class="nav-grid">
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/403/toyota.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/240/kia.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/309/nissan.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/36/bmw.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/279/mazda.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/433/volkswagen.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/189/hyundai.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/281/mercedes-benz.jpg?20220427160756">
    </div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/137/ford.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/387/suzuki.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/181/honda.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/66/chevrolet.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/386/subaru.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/218/jeep.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/287/mitsubishi.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/21/audi.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/343/renault.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/324/peugeot.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/330/porsche.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/133/fiat.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/72/citroen.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/787/chery.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/101/dodge.jpg?20220427160756"></div>
    <div class="grid-item"><img src="https://cde.neoauto.pe/marca/logo/106x105/284/mg.jpg?20220427160756"></div>
</div>