{% extends "authbase.html" %}

{% block title %}
    Registrate
{% endblock %}
{% block page_title %}
    Registrate
{% endblock %}


{% block form %}
    {{ form.username(class_="form-control", placeholder="Usuario") }}

    {{ form.email(class_="form-control", placeholder="Correo") }}

    {{ form.password(class_="form-control", placeholder="Contraseña",type="password") }}
{% endblock %}

{% block link %}
    <li>
        <a class="main-link" href="{{ url_for('auth.login') }}">Ya eres miembro?</a>
    </li>
{% endblock %}

