{% extends "base.html" %} {% block body %}
<h1 class="center">News</h1>
<div class="container-news">
    <ul class="lista-productos">
        {% for article in articles %}
        <li class="card-news">
            <img class="card-img-top" src="{{ article.image_url }}" alt="Card image cap">
            <div class="card-body-div">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text-div">{{ article.description }}</p>
                <a href="{{ url_for('news.article_page',newid=article.id) }}" class="btn btn-primary">See more</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}