{% extends "base.html" %} {% block body %}
    <h1 class="center">News</h1>
    <div class="container-news">
        <ul class="lista-productos">
            {% for article in articles %}
                <li class="card">
                    <img class="card-img-top" src="{{ article.image_url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.description }}</p>
                        <a href="{{ url_for("news.news_page",news_id=article.id ) }}" class="btn btn-primary">See
                            more</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}