{% extends "base.html"%}

{% block body %}

<style>
    .title{
        background-color: black;
    }

    .art_title{
        color: aliceblue;
    }

    .imgnew{
        display: block;
        margin: 0px auto;
        border-radius: 15px;
    }

    .infonew{
        padding: 20px;
        font-size: 20px;
        width: 670px;
        margin: 20px 600px;
    }

    .desc{
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }

    .content{
        text-align: justify;
        padding: 20px;
    }

    .author{
        text-align: center;
        padding: 10px;
        color: rgba(126, 138, 148, 0.993);
    }

</style>

<div class="padre_new">
    <div class="title">
        <h1 class="art_title">{{ article.title }}</h1>
    </div>
    <div>
        <img class="imgnew" src="{{ article.image_url }}" alt="Card image cap">
    </div>
    <div class="infonew">
        <div class="desc">
            {{ article.description }}
        </div>
        <div class="content">
            {{article.content}}
        </div>
        <div class="author">
            Autor: {{article.author}}
        </div>
    </div>
</div>


{% endblock %}