{% extends "base.html"%}

{% block body %}

<style type="text/css">
    .label {
        font-weight: 700;
    }
    .label-username{
        font-size: 40px;
        margin-top: 0em;
    }
    .label-email{
        margin-top: -1em;
        font-size: 20px;
    }
    .btn-edit{
        border-radius: 10px;
        border: 2px solid lightgrey;
        width: 100%;
        font-weight: 700;
    }
    .btn-edit-2{
        border-radius: 10px;
        margin-top: 1em;
        border: 2px solid lightgrey;
        width: 50%;
        font-weight: 700;
    }
    .hidden{
        display: none;
    }
    .img-profile{
        border-radius: 100%; 
        box-shadow: 0 0 10px;
        width: 400px;
        height: 400px;
    }
    
</style>

<div style="margin: 5% 10% 10% 10%; display:flex;">

    <div style="text-align:center; width: 50%; display: inline;">
        <img class="img-profile" src="{{ user.image_url }}" alt="">

        <p id="username-label" class="label label-username">{{ user.username }}</p>
        <p id="email-label" class="label label-email">{{ user.email }}</p>
        
        {% if current_user.id == user.id %}
            <div>
                <button onclick="show_username_form()" id="btn_change_username" class="btn btn-edit-2 hidden">Cambiar nombre de usuario</button>

                <button onclick="show_password_form()" id="btn_change_password" class="btn btn-edit-2 hidden">Cambiar contraseña</button>

                <button onclick="show_image_url_form()" id="btn_change_image_url" class="btn btn-edit-2 hidden">Cambiar foto de perfil</button>
            </div>
            

            <form method="POST" class="hidden" id="change_username_form">
                {{ form1.csrf_token }}
                <p class="label">Cambia tu nombre de usuario</p>
                {{ form1.username(class_="form-control", placeholder="Nuevo nombre de usuario", type="text") }}

                {{ form1.submit(class_="btn btn-submit") }}
            </form>

            <form method="POST" class="hidden" id="change_password_form">
                {{ form2.csrf_token }}
                <p class="label">Cambia tu contraseña</p>
                {{ form2.password(class_="form-control", placeholder="Nueva contraseña", type="password") }}

                {{ form2.submit(class_="btn btn-submit") }}
            </form>

            <form method="POST" class="hidden" id="change_image_url_form">
                {{ form3.csrf_token }}
                <p class="label">Cambia tu foto de perfil</p>
                {{ form3.image_url(class_="form-control", placeholder="Nueva foto de perfil", type="text") }}

                {{ form3.submit(class_="btn btn-submit") }}
            </form>
        {% else %}
            <div></div>
        {% endif %}
        

    </div>


    <div style="border: 2px solid lightgrey; text-align: center; width: 40%; padding: 2em; border-radius: 10px;">
        {% if current_user.id == user.id %}
        <div>
            <button onclick="show_buttons()" class="btn btn-edit" id="btn_show_forms">Editar Perfil</button>
        </div>
        {% endif %}
        <h2>Tus publicaciones</h2>
        
        {% for i in range(10)%}
        <div style="margin-top: 2em;">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse quas minima inventore quo eos quae veniam, alias pariatur asperiores odit vero perferendis ducimus dolore fugit provident non totam nam ipsum facilis at mollitia ipsa neque dicta! Veniam magnam ad temporibus culpa officiis minima maxime, adipisci eveniet recusandae soluta, nemo suscipit aperiam et odio harum? Neque quis dolorum, aliquid minima commodi ex, ad architecto animi praesentium, reprehenderit nobis alias debitis recusandae id odit porro? Voluptatem sed delectus facilis reiciendis! Odio quas explicabo fugiat. Minus eligendi, repudiandae voluptates perferendis praesentium officiis laudantium error dolorem earum fugiat culpa quisquam rem dolor, unde tempore exercitationem voluptate sit deleniti nemo quibusdam? Error id facilis, laudantium nisi nesciunt sint, sit obcaecati voluptate eum molestias in omnis, nemo ad dolores.
        </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    function show_buttons(){
        document.getElementById('btn_change_username').classList.remove('hidden')
        document.getElementById('btn_change_password').classList.remove('hidden')
        document.getElementById('btn_change_image_url').classList.remove('hidden')
        
        document.getElementById('username-label').setAttribute('class', 'hidden')
        document.getElementById('email-label').setAttribute('class', 'hidden')

        document.getElementById('btn_show_forms').setAttribute('class', 'hidden')
    }
s
    function show_username_form() {
        document.getElementById('btn_change_password').classList.add('hidden')
        document.getElementById('btn_change_username').classList.add('hidden')
        document.getElementById('btn_change_image_url').classList.add('hidden')
        document.getElementById('change_username_form').classList.remove('hidden')
    }

    function show_password_form() {
        document.getElementById('btn_change_username').classList.add('hidden')
        document.getElementById('btn_change_password').classList.add('hidden')
        document.getElementById('btn_change_image_url').classList.add('hidden')
        document.getElementById('change_password_form').classList.remove('hidden')
        
    }

    function show_image_url_form(){
        document.getElementById('btn_change_username').classList.add('hidden')
        document.getElementById('btn_change_password').classList.add('hidden')
        document.getElementById('btn_change_image_url').classList.add('hidden')
        document.getElementById('change_image_url_form').classList.remove('hidden')
    }

    

</script>
<!-- 

<script type="text/javascript">
    form = document.getElementById('change_profile')
    form.addEventListener('submit', function(e) {
        e.preventDefault();
        var new_username = form['change_username'].value;
        var new_password = form['change_password'].value;

        if(new_username != ""){
            console.log("hay username");
            var data = {"username": "Pedro"};
            fetch("http://localhost:5000/profile/change_username", {
                method: 'PATCH',
                body: JSON.stringify(data), // data can be `string` or {object}!
                headers: {
                    'Content-Type': 'application/json',
                }
            }).then(res => res.json())
            .then((response) => {
                console.log(response);
            })
            .catch(e => console.log(e))
        }

        if(new_password != ""){
            console.log("hay password");
        }
    })
</script> -->

{% endblock %}