<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.png') }}">
    <title>Register</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="main">
    <p class="page-title">{% block title %}{% endblock %}</p>
    
        <form method="post" class="form">
        {{ form.csrf_token }}

        {% block form %}

        {% endblock %}

    {{ form.submit(class_="btn btn-submit") }}
    {% block button %}
    {% endblock %}
    </button>
    </form>
    <div class="container">
        <ul class="link-list">
            {% block link %}
            {% endblock %}
        </ul>
    </div>
</div>
{% block footer %}
    <script>

    </script>
{% endblock %}
</body>
</html>