{% extends "authbase.html" %}

{% block title %}
    Ingresa
{% endblock %}

{% block form %}
    {{ form.email(class_="form-control", placeholder="Correo") }}

    {{ form.password(class_="form-control", placeholder="Contraseña",type="password") }}
{% endblock %}

{% block link %}
    <li>
        <a class="main-link" style="padding-bottom:0;" href="{{ url_for('auth.recovery') }}">Olvidaste tu contraseña?</a>
    </li>
    <li>
        <a class="main-link" href="{{ url_for('auth.register') }}">Todavía no eres miembro?</a>
    </li>
    
    <li>    
        <a style="
            box-sizing: border-box;
            border-radius: 6px;
            padding: 6px;
            border: 1px solid lightgrey;
            box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.14)" class="main-link" href="{{ url_for('auth.login_google') }}">
            <img style="width:50px;height:50px;" src="https://cdn.icon-icons.com/icons2/2415/PNG/512/google_original_logo_icon_146496.png">
        </a>
    </li>

{% endblock %}

